@import "config";

/*
 * CSS definitions of Autocompleter control
 */

div.my-autocompleter {
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0;
  input {
    border: 1px solid $border_color_input;
    outline: none;
    padding: 3px;
    margin: 0;
  }
  .my-combobox-button {
    position: absolute;
    top: 0;
    right: 0;
    background: #bbb url(images/cbb.png) no-repeat 0 1px;
    width: 16px;
    height: 22px;
    margin: 0;
    border: solid $border_color_input 1px;
    border-left-style: none;
  }
}

div.my-autocompleter-list {
  @include font_family;
  @include drop_shadow;
  @include border_radius(3px);
  position: absolute;
  background-color: $background_color_list;
  border: 1px solid $border_color_list;
  margin: 0;
  padding: 0;
  z-index: 2000;
  .inner-list-container {
    position: relative;
    overflow-y: auto;
    ul {
      position: relative;
      margin: 0;
      padding: 3px;
      li {
        list-style-type: none;
        margin: 0;
        padding: 3px;
        cursor: pointer;
        vertical-align: middle;
        border: 1px solid $border_color_list_item;
        font-weight: bold;
        &.selected {
          @include border_radius(3px);
          background-color: $background_color_list_item_focus;
          border: 1px solid $border_color_list_item_focus;
          color: white;
        }
      }
    }
  }
}


.my-autocompleter-indicator {
  background: url(images/search-indicator.gif) no-repeat;
  padding: 0 12px;
  margin: 0 0 0 2px;
}

