// sass file
a.toolbar-button {
  @include border_radius;
  display: inline-block;
  border: 1px solid #bbb;
  border-bottom-color: #999;
  cursor : pointer;
  background: url('images/bg-btn.gif') repeat-x scroll 0 0 #ddd;
  padding:  4px;
  height: 16px;
  float: left;
  text-decoration: none;
  &:hover {
    background-position: 0 -6px;
    border: 1px solid #999;
    border-bottom-color: #666;
  }
  span {
    &.icon {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin: 0;
      background-image: url(images/glyphicons-halflings.png);
      background-repeat: no-repeat;
    }
    &.text {
      padding: 3px;
      text-shadow: 1px 1px 0 white;
      color: #333;
      line-height: 16px;
      vertical-align: middle;
      font-weight: bold;
    }
    &.add-button {
      background-position: -406px -96px;
    }
    &.delete-button {
      background-position: -455px 1px;
    }
    &.save-button {
      background-position: -94px -24px;
    }
    &.setting-button {
      background-position: -431px 1px;
    }
    &.edit-button {
      background-position: 1px -72px;
    }
    &.previous-page {
      background-position: -431px -72px;
    }
    &.previous-page-disabled {
      background-position: -431px -72px;
    }
    &.next-page {
      background-position: -455px -72px;
    }
    &.next-page-disabled {
      background-position: -455px -72px;
    }
  }
}

div.toolbar-separator  {
  float: left;
  width: 0;
  height: 100%;
  border-left: 1px solid #ccc;
  border-right: 1px solid white;
  margin: 0 3px;
}

// TODO check if this could be redifined following same signature as toolbar-button
div.mini-button {
  @extend a.toolbar-button;
  padding: 1px;
  margin-right: 3px;
}
