@import "config";

.my-checkbox {
  display: inline-block;
  width: 7px;
  height: 7px;
  padding: 2px;
  border : 1px solid #bcbcbc;
  background-color: transparent;
  input {
    visibility: hidden;
  }
  &.active {
    div {
       background-color: $background_color_checkbox;
    }
  }
  div {
    width: 7px;
    height: 7px;
  }
}


.my-radio {
  @extend .my-checkbox;
  @include border_radius(10px);
  width: 5px;
  height: 5px;
  padding: 4px;
  &.active {
    div {
      @include border_radius(5px);
      background-color: $background_color_radio;
    }
  }
  div {
    width: 5px;
    height: 5px;
  }
}

