@import "config";

.my-checkbox {
  display: inline-block;
  width: 19px;
  height: 25px;
  padding: 0;
  background: url(images/checkbox.png) no-repeat;
  input {
    visibility: hidden;
  }
  &.active {
    background-position: 0 -50px;
  }
}


.my-radio {
  @extend .my-checkbox;
  background: url(images/radio.png) no-repeat;
  &.active {
    background-position: 0 -50px;
  }
}

