.my-checkbox, .my-radio {
    width: 19px;
    height: 25px;
    padding: 0 5px 0 0;
    background: url(images/checkbox.png) no-repeat;
    display: block;
    clear: left;
    float: left;
}
.my-radio {
    background: url(images/radio.png) no-repeat;
}