$border_color_input : #0081c2;
$border_color_cell_focus : #0081c2;
$border_color_table : #ccc;
$border_color_button : #ddd;
$border_color_cell : #ddd;
$border_color_header_cell : #ddd;
$border_color_pager : #ccc;
$border_color_pager_manu : #ccc;

$background_color_table : #eee;
$background_color_menu : #ddd;
$background_color_pager : #eee;
$background_color_pager_menu : #eee;
$background_color_cell_focus : #0081c2;
$background_color_item_focus : #0081c2;

@mixin font_family($size : 11px,  $color : black, $font_weight: normal) {
  font-family: Arial, Helvetica, sans-serif;
  font-size: $size;
  font-weight: $font_weight;
  color: $color;
}

@mixin box_shadow_button($h_shadow : 0, $v_shadow : 1px, $blur : 0, $color : #f8f8f8)  {
  box-shadow: $h_shadow $v_shadow $blur $color;
  -wekbit-box-shadow: $h_shadow $v_shadow $blur $color;
  -moz-box-shadow: $h_shadow $v_shadow $blur $color;
}

@mixin border_radius($radius : 4px){
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin border($style : solid, $width : 1px, $color: black, $top : true, $right: true, $bottom: true, $left: true) {
  @if $top { border-top : $style $width $color }
  @if $right { border-right : $style $width $color }
  @if $bottom { border-bottom: $style $width $color }
  @if $left { border-left : $style $width $color }
}

@mixin opacity($color, $opacity) {
  background-color: $color;
  filter: alpha(opacity = $opacity * 100);
  -moz-opacity: $opacity;
  opacity: $opacity;
}