// sass file
.tablegrid {
  @include font_family($font_weight : bold, $color : #333);
  .tablegrid-header-title {
    @include border($color : $border_color_table, $bottom : false);
    background-color: $background_color_table;
    text-shadow: 1px 1px 0 white;
  }
  .tablegrid-toolbar {
    @include border($color : $border_color_table, $bottom : false);
    background-color: $background_color_table;
  }
  .header-row  {
    background: #ccc url(images/hrow.gif) repeat-x;
    @include border($color : $border_color_table, $bottom : false);
    cursor: default;
    table {
      &.header-row-table {
        padding: 0;
        text-align: left;
        th {
          &.header-cell {
            border: 1px solid transparent;
            border-right-color: $border_color_header_cell;
            border-bottom-color: $border_color_header_cell;
            text-shadow: 1px 1px 0 #ddd;
            margin: 0;
            padding: 0;
            .header-separator {
              float: right;
              width: 1px;
              z-index: 30;
            }
            .sort-icon {
              width: 8px;
              height: 4px;
              visibility: hidden;
            }
          }
          div {
            &.inner-header-cell {
              position: relative;
              white-space: nowrap;
              height: 18px;
              overflow: hidden;
              text-overflow: ellipsis;
              padding: 4px 3px;
              float: left;
              text-align: left;
              span {
                &.tablegrid-sort-asc-icon {
                  background: url(images/sort-arrow-asc.png) center no-repeat transparent;
                }
                &.tablegrid-sort-desc-icon {
                  background: url(images/sort-arrow-desc.png) center no-repeat transparent;
                }
              }
            }
          }
        }
      }
    }
  }
  .header-button {
    position: absolute;
    background: url(images/ddn.png) center no-repeat;
    border-left: solid 1px $border_color_button;
    visibility: hidden;
    z-index: 50;
  }
  .column-move-top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 9px;
    height: 9px;
    background: url(images/col-move-top.gif) center no-repeat transparent;
    visibility: hidden
  }
  .column-move-bottom {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width:  9px;
    height: 9px;
    background: url(images/col-move-bottom.gif) center no-repeat transparent;
    visibility: hidden
  }
  .resize-marker {
    cursor: col-resize;
    //cursor: w-resize;
    position: absolute;
    width: 2px;
    background-color: transparent;
    z-index : 300;
  }
  .drag-column {
    position: absolute;
    background: url(images/hrow.gif) repeat-x;
    padding: 3px;
    z-index: 0;
    border: solid 1px $border_color_cell;
    visibility: hidden;
    font-weight: bold;
    cursor: default;
    .drop-no {
      position: absolute;
      top: 3px;
      right: 3px;
      width: 16px;
      height: 16px;
      background: url(images/no.gif) no-repeat center;
    }
    .drop-yes {
      position: absolute;
      top: 3px;
      right: 3px;
      width: 16px;
      height: 16px;
      background: url(images/yes.gif) no-repeat center;
    }
  }
}

/* Body definition */
div.tablegrid-body {
  border: solid 1px $border_color_table;
  border-top: solid 1px lighten($border_color_table, 20%); //#eee
  font-weight: normal;
  .tablegrid-body-table {
    table-layout: fixed;
    position: relative;
    z-index: 0;
    tr {
      &.hightlight {
        background-color: #eee;
      }
      &.focus {
        background-color: lighten($background_color_cell_focus, 55%); //#e6d7f5;
      }
      td {
        &.tablegrid-cell {
          border-left: 1px solid transparent;
          border-right: 1px solid $border_color_cell;
          border-bottom: solid 1px $border_color_cell;
          padding: 0;
          margin: 0;
          div {
            &.tablegrid-inner-cell {
              position: relative;
              white-space: nowrap;
              font-size: 11px;
              overflow: hidden;
              text-overflow: ellipsis;
              padding: 3px;
              label {
                display: block;
                margin : -2px 0 0 0;
                padding: 0;
                text-align: center;
              }
            }
            &.modified-cell {
              background : url(images/m.png) no-repeat 0 0;
            }
            input {
              &.tablegrid-textfield {
                position: relative;
                font-size: 11px;
                vertical-align: top;
                height: 16px;
                background-color: white;
                outline: none;
                padding: 2px 3px;
                border: 1px solid $border_color_input;
              }
            }
          }
        }
        &.focus {
          /*border-left: solid 1px #90c;*/
          div {
            &.tablegrid-inner-cell {
              background-color: $background_color_cell_focus;
              color: white;
            }
          }
        }
      }
    }
  }
}

div.my-tablegrid-menu {
  @include border_radius($radius : 3px);
  position: absolute;
  width: 150px;
  overflow: auto;
  background: #ddd url(images/menu.gif) repeat-y;
  z-index: 100;
  visibility : hidden;
  border: 1px solid #ccc;
  ul {
    margin: 3px;
    padding: 0;
    li {
      position: relative;
      list-style-type: none;
      padding: 0 0 0 28px;
      display: block;
      color: black;
      cursor: default;
      font-weight: bold;
      line-height: 20px;
      label {
        span {
          height: 22px; /* TODO check this is little ugly*/
          &.my-menu-item-checkbox {
            position : absolute;
            left : 0;
          }
        }
      }
      &:hover {
        @include border_radius($radius : 3px);
        background-color: $background_color_item_focus;
        color: white;
      }
      span {
        &.my-menu-item-icon {
          position : absolute;
          left : 0;
          padding: 2px;
        }
        &.sort-ascending-icon {
          background: url(images/sort_ascending.png) no-repeat transparent center;
          width: 16px;
          height: 16px;
        }
        &.sort-descending-icon {
          background: url(images/sort_descending.png) no-repeat transparent center;
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}

div.my-tablegrid-pager-menu {
  @include border_radius($radius : 3px);
  position: absolute;
  width: 100px;
  overflow: auto;
  background: #eee;
  z-index: 100;
  visibility : hidden;
  border: 1px solid #ccc;
  ul {
    margin: 3px;
    padding: 0;
    li {
      position: relative;
      list-style-type: none;
      padding: 0 0 0 3px;
      display: block;
      color: black;
      cursor: default;
      font-weight: bold;
      line-height: 20px;
      &:hover {
        @include border_radius($radius : 3px);
        background-color: $background_color_item_focus;
        color: white;
        text-shadow: 1px 1px 0 #039;
      }
    }
  }
}

/* Pager Definition */
div.tablegrid-pager {
  @include border($color : $border_color_pager, $top : false);
  background-color: $background_color_pager;
  cursor: default;
  padding: 2px;
  text-shadow: 1px 1px 0 white;
  font-weight: normal;
  .tablegrid-pager-message {
    float: left;
    padding: 2px;
  }
  table {
    &.tablegrid-pager-table {
      float: right;
      font-size: 11px;
      margin: 0;
      td {
        padding-left: 2px;
        padding-right: 2px;
      }
    }
  }
  .tablegrid-pager-separator {
    background: url(images/y-sep.png) center no-repeat transparent;
    width: 2px;
    height: 13px;
  }
  input {
    &.tablegrid-page-input {
      font-size: 11px;
      width: 25px;
      margin: 0;
    }
  }
  a {
    &.tablegrid-pager-control {
      cursor: pointer;
      text-decoration: none;
    }
  }
  .tablegrid-pager-loader {
    background: url(images/mtg-loader.gif) center no-repeat transparent;
    width: 16px;
    height: 16px;
  }
}